apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
  labels:
    team: {{ tenant_id }}
    project: {{ project_name }}
    managed-by: gitops-platform
    app.kubernetes.io/part-of: {{ tenant_id }}
