apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ tenant_id }}-quota
  namespace: {{ namespace }}
spec:
  hard:
    requests.cpu: "{{ cpu_request }}"
    requests.memory: "{{ mem_request }}"
    limits.cpu: "{{ cpu_limit }}"
    limits.memory: "{{ mem_limit }}"
    count/pods: "50"
